@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo-icon1 {
  position: relative;
  width: 165px;
  height: 100px;
  object-fit: cover;
}
.logo1 {
  text-decoration: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.learning-modules1 {
  position: relative;
}
.learning-modules1:hover {
  color: var(--color-salmon);
}
.learning-modules,
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.learning-modules {
  text-decoration: none;
  padding: var(--padding-3xs) var(--padding-xl);
  color: inherit;
}
.learning-modules:hover {
  cursor: pointer;
}
.links {
  gap: var(--gap-3xs);
}
.menu,
.vector-icon6 {
  width: 64px;
  height: 48px;
}
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 0;
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: none;
}
.profile-pic-icon1 {
  position: relative;
  border-radius: var(--br-26xl);
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.profile-pic-icon1:hover {
  box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.2);
}
.btn4,
.profile-pic,
.student-home-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-pic {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 75px;
  justify-content: space-between;
}
.btn4,
.student-home-nav {
  align-self: stretch;
}
.btn4 {
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.student-home-nav {
  margin: 0;
  background-color: var(--color-darkslategray);
  justify-content: space-between;
  padding: var(--padding-8xl) var(--padding-21xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.artificial-intelligence {
  position: relative;
  text-align: center;
}
.description1 {
  align-self: stretch;
  position: relative;
  color: var(--color-steelblue-100);
}
.artificial-intelligence-ai {
  margin: 0;
}
.artificial-intelligence-ai-container {
  flex: 1;
  position: relative;
}
.image-15-icon {
  position: relative;
  width: 588.7px;
  height: 400px;
  object-fit: cover;
}
.description-frame,
.sub-modules-overview {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.description-frame {
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  font-size: var(--font-size-5xl);
}
.sub-modules-overview {
  background-color: var(--color-oldlace);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 82px 104px;
  gap: 42px;
}
.round-child {
  position: relative;
  border-radius: 50%;
  background-color: var(--neutral-4);
  box-shadow: 0 11.3px 11.29px rgba(0, 0, 0, 0.25) inset;
  width: 65px;
  height: 65px;
  z-index: 0;
}
.bicheck-icon {
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: 7px;
  border-radius: 44.83px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.round {
  border-radius: 141.13px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.ai-knowledge {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.ai-knowledge:hover {
  cursor: pointer;
  text-decoration: underline;
}
.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-36xl);
}
.progress-in-module1 {
  margin: 0;
  justify-content: center;
  gap: 19px;
}
.progress-in-module,
.progress-in-module1,
.sub-modules-overview-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.progress-in-module {
  background-color: var(--color-oldlace);
  overflow: hidden;
  justify-content: center;
  padding: 75px 150px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-steelblue-300);
}
.sub-modules-overview-parent {
  justify-content: flex-start;
}
.feedback3,
.send-us-a1 {
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.send-us-a1 {
  align-self: stretch;
  font-size: var(--font-size-5xl);
}
.text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.fullname-textbox1 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-mini);
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mini);
}
.fullname-textbox1,
.message-textbook1,
.text-box1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.message-textbook1 {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-mini);
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-161xl);
}
.text-box1 {
  justify-content: center;
  gap: var(--gap-xl);
}
.submit1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-lavenderblush);
  text-align: left;
}
.contact-form1,
.submit-btn1 {
  display: flex;
  flex-direction: column;
}
.submit-btn1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-11xl);
  background-color: var(--color-gray-600);
  border-radius: var(--br-mini);
  box-shadow: 4px 4px 20px rgba(140, 120, 120, 0.6);
  height: 59px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.contact-form1 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.site-map3 {
  align-self: stretch;
  position: relative;
}
.all-our-pages1 {
  position: relative;
  display: inline-block;
  width: 175px;
  height: 35px;
  flex-shrink: 0;
}
.text4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-5xl);
}
.about-us1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.link1,
.site-map2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.link1 {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
}
.site-map2 {
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-81xl) var(--padding-6xl)
    var(--padding-31xl);
}
.logo-feedback-icon1 {
  position: relative;
  width: 243px;
  height: 145px;
  object-fit: cover;
}
.vector-icon7 {
  width: 65px;
  height: 55px;
}
.b11,
.vector-icon7 {
  position: relative;
}
.phone1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.vector-icon8 {
  position: relative;
  width: 65px;
  height: 50px;
}
.email1,
.info1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.email1 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.info1 {
  height: 135px;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-11xl);
}
.contact-info1,
.feedback2 {
  display: flex;
  align-items: flex-start;
}
.contact-info1 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-81xl) 0;
  gap: var(--gap-71xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.feedback2 {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-81xl);
  gap: var(--gap-31xl);
  font-size: var(--font-size-9xl);
}
.copyright-2023-all1 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.concept-module,
.footer1 {
  display: flex;
  flex-direction: column;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer1 {
  align-self: stretch;
  background-color: var(--color-oldlace);
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  text-align: center;
  font-size: var(--font-size-base);
}
.concept-module {
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-13xl);
}
@media screen and (max-width: 1200px) {
  .artificial-intelligence-ai-container {
    flex: unset;
    align-self: stretch;
  }
  .description-frame {
    flex-direction: column;
  }
  .contact-form1 {
    flex: unset;
    align-self: stretch;
  }
  .site-map3 {
    text-align: center;
  }
  .link1,
  .text4 {
    align-items: center;
    justify-content: center;
  }
  .email1,
  .phone1,
  .site-map2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .email1,
  .phone1 {
    width: auto;
    align-self: unset;
    align-items: center;
  }
  .phone1 {
    gap: var(--gap-11xl);
    padding-right: 0;
    box-sizing: border-box;
  }
  .email1 {
    gap: var(--gap-21xl);
  }
  .info1 {
    gap: var(--gap-31xl);
  }
  .contact-info1,
  .feedback2 {
    gap: var(--gap-81xl);
    align-items: center;
  }
  .contact-info1 {
    justify-content: center;
    flex: unset;
    align-self: stretch;
  }
  .feedback2 {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .links {
    display: none;
  }
  .menu,
  .vector-icon6 {
    display: flex;
  }
  .btn4 {
    gap: var(--gap-11xl);
  }
}
.profile-pic-icon {
  position: relative;
  border-radius: var(--br-26xl);
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.profile-pic-icon:hover {
  box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.2);
}
.hello-itunghsieh {
  position: relative;
}
.edit-your-profile {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  color: #065fd4;
}
.btn2:hover,
.edit-your-profile:hover {
  cursor: pointer;
}
.hello-itunghsieh-parent {
  flex-direction: column;
  gap: var(--gap-mini);
}
.drop-view-inner,
.hello-itunghsieh-parent,
.profile-pic-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-pic-parent {
  flex-direction: row;
  gap: var(--gap-31xl);
}
.drop-view-inner {
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: var(--padding-mini) 26px;
  font-size: var(--font-size-5xl);
}
.vector-icon2,
.vector-icon3 {
  position: relative;
  width: 48px;
  height: 48px;
}
.vector-icon3 {
  display: none;
}
.btn2,
.drop-view {
  display: flex;
  justify-content: flex-start;
}
.btn2 {
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-21xl);
  color: inherit;
}
.drop-view {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 391px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.drop-view.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
