<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose User Type</title>
    {% load static %}
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Select Your Role</h1>
        <form method="post" action="{% url 'choose_user_type' %}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-3 text-center mb-4">
                    <button type="submit" name="role" value="student" class="btn btn-primary btn-block" style="padding: 30px; border-radius: 10px;">
                        <img src="{% static 'img/student.png' %}" alt="Student Icon" style="max-width: 100px; max-height: 100px; margin-bottom: 20px;">
                        <p>Student</p>
                    </button>
                </div>
                <div class="col-md-3 text-center mb-4">
                    <button type="submit" name="role" value="parent" class="btn btn-primary btn-block" style="padding: 30px; border-radius: 10px;">
                        <img src="{% static 'img/parents.png' %}" alt="Parent Icon" style="max-width: 100px; max-height: 100px; margin-bottom: 20px;">
                        <p>Parent</p>
                    </button>
                </div>
                <div class="col-md-3 text-center mb-4">
                    <button type="submit" name="role" value="teacher" class="btn btn-primary btn-block" style="padding: 30px; border-radius: 10px;">
                        <img src="{% static 'img/teacher.png' %}" alt="Teacher Icon" style="max-width: 100px; max-height: 100px; margin-bottom: 20px;">
                        <p>Teacher</p>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
