{% extends 'base_generic.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/SelectRoleForm.css' %}"/>
{% endblock %}

{% block nav-bar %}
    {% if user.is_authenticated %}
        <nav class="login-nav" id="parent nav">
            <a class="logo3" href="{% url 'home' %}">
                <img class="logo-icon3" alt="" src="{% static 'public/logo@2x.png' %}"/>
            </a>
            <div class="btn4">
                <button class="profile-pic2" id="profilePic">
                    {% if user.socialaccount_set.all %}
                        <img class="profile-pic-icon2"
                             alt="Profile Picture"
                             src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                        >
                    {% else %}
                        <img
                                class="profile-pic-icon2"
                                alt="Profile Picture"
                                src="{% static 'public/profilepic@2x.png' %}"
                        />
                    {% endif %}
                </button>
            </div>
        </nav>
    {% else %}
        <nav class="welcome-nav1">
            <a class="logo3" href="{% url 'home' %}">
                <img class="logo-icon3" alt="" src="{% static 'public/logo@2x.png' %}"/>
            </a>
            <div class="btns1">
                <a class="btn5" href="{% url 'login' %}">
                    <div class="login1">Login</div>
                </a>
                <a class="btn5" href="{% url 'choose_user_type' %}">
                    <div class="login1">Sign Up</div>
                </a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="login-container">
        {% if page == 'login' %}
            <h1 class="center-text">Log In With</h1>
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                <div class="social-login center-text">
                    <a href="{% url 'google_login' %}" class="btn-google no-underline">
                        <img src="https://cdn-icons-png.flaticon.com/512/2504/2504739.png" alt="GOOGLE">
                        Google
                    </a>
                </div>

                <div class="input-group">
                    <label for="username" class="label">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username">
                </div>

                <div class="input-group">
                    <label for="password" class="label">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password">
                    <a href="{% url 'choose_user_type' %}" class="forgot-password">Forgot?</a>
                </div>

                <input type="submit" value="Sign In" class="submit-button">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="signup-link">
                    <span>Don't have an account?</span>
                    <a href="{% url 'choose_user_type' %}">Sign up now</a>
                </div>
            </form>
        {% else %}
            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sign Up" class="submit-button">
            </form>
            <div class="signup-link">
                <span>Already have an account?</span>
                <a href="{% url 'login' %}">Sign In</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
