{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    Choose User Type
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/SelectRoleForm.css' %}"/>
{% endblock %}

{% block css-container %}
    select-role-form
{% endblock %}

{% block nav-bar %}
    {% if user.is_authenticated %}
        <nav class="login-nav" id="parent nav">
            <a class="logo3" href="{% url 'home' %}">
                <img class="logo-icon3" alt="" src="{% static 'public/logo@2x.png' %}"/>
            </a>
            <div class="btn4">
                <button class="profile-pic2" id="profilePic">
                    {% if user.socialaccount_set.all %}
                        <img class="profile-pic-icon2"
                             alt="Profile Picture"
                             src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                        >
                    {% else %}
                        <img
                                class="profile-pic-icon2"
                                alt="Profile Picture"
                                src="{% static 'public/profilepic@2x.png' %}"
                        />
                    {% endif %}
                </button>
            </div>
        </nav>
    {% else %}
        <nav class="welcome-nav1">
            <a class="logo3" href="{% url 'home' %}">
                <img class="logo-icon3" alt="" src="{% static 'public/logo@2x.png' %}"/>
            </a>
            <div class="btns1">
                <a class="btn5" href="{% url 'login' %}">
                    <div class="login1">Login</div>
                </a>
                <a class="btn5" href="{% url 'choose_user_type' %}">
                    <div class="login1">Sign Up</div>
                </a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="sign-up-form">
        <b class="select-your-role">Select Your Role</b>
        <form class="role-btn" method="post" action="{% url 'choose_user_type' %}">
            {% csrf_token %}
            <button type="submit" name="role" value="student" class="image-13-parent">
                <img class="image-13-icon" alt="Student Icon" src="{% static 'public/image-13@2x.png' %}"/>

                <b class="student">Student</b>
            </button>
            <button type="submit" name="role" value="parent" class="image-13-parent">
                <img class="image-13-icon" alt="Parent Icon" src="{% static 'public/image-131@2x.png' %}"/>

                <b class="student">Parents</b>
            </button>
            <button type="submit" name="role" value="teacher" class="image-13-parent">
                <img class="image-13-icon" alt="" src="{% static 'public/image-132@2x.png' %}"/>

                <b class="student">Teacher</b>
            </button>
        </form>
    </div>
{% endblock %}

{% block feedback-form %}
{% endblock %}