<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeVenture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-link {
          color: inherit;
          text-decoration: none;
        }

        .card-link:hover .card {
          box-shadow: 0 4px 8px rgba(0,0,0,0.1);
          transition: box-shadow 0.3s ease-in-out;
        }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CodeVenture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
                    </li>
                    {% if user.socialaccount_set.all %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;">
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin Page</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    
    <main class="container mt-4">
        <!-- Hero Section -->
        <section class="bg-primary text-white text-center py-5">
            <h1>Welcome to CodeVenture!</h1>
            <p>Learn Python the fun way.</p>
        </section>

        {% block content %}
        <!-- Featured Courses Section -->
        <section class="text-center my-5">
            <h2>Featured Courses</h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="/lecture/23/" class="card-link">
                        <div class="card">
                            <img src="https://prod-discovery.edx-cdn.org/media/course/image/2cc794d0-316d-42f7-bbfd-25c34e4cd5df-033e46d516c0.small.png" alt="Course thumbnail 1" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Introduction to Programming with Python</h5>
                                <p class="card-text">Learn the basics of Python programming.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/lecture/15/" class="card-link">
                        <div class="card">
                            <img src="https://prod-discovery.edx-cdn.org/media/course/image/3a31db71-de8f-45f1-ae65-11981ed9d680-b801bb328333.small.png" alt="Course thumbnail 2" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Introduction to Artificial Intelligence with Python</h5>
                                <p class="card-text">Learn to use machine learning in Python in this introductory course on artificial intelligence.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/lecture/1/" class="card-link">
                        <div class="card">
                            <img src="https://prod-discovery.edx-cdn.org/media/course/image/8f8e5124-1dab-47e6-8fa6-3fbdc0738f0a-4978ad93b1c3.small.png" alt="Course thumbnail 3" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Web Programming with Python and JavaScript</h5>
                                <p class="card-text">This course dive more deeply into the design and implementation of web apps with Python.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
