{% extends 'base_generic.html' %}
{% load static %}

{% block css-container %}
    menu-page
{% endblock %}

{% block content %}
    <div class="link-section">
        <div class="links6">
            <div class="learning-modules10">
                <a href="{% url 'learning_modules' %}">
                    <img class="modulelearning-1" src="{% static 'public/modulelearning-1@3x.png' %}" alt="Thumbnail">
                </a>
                <div class="learning-modules-parent">
                    <a class="learning-modules11" href="{% url 'learning_modules' %}">Learning modules</a>
                    <b class="this-is-where"
                    >This is where the tutorials and guides on Python can be
                        accessed. It will teach the user step by step on how to learn
                        different concepts in python. Each concept will be categorized
                        into separate learning modules. Once a learning module is
                        completed, it will acknowledge its completion in the Progress
                        tracker. The priority of this feature is high because this is
                        the main purpose of the program, to provide users with learning
                        material for python.</b
                    >
                </div>
            </div>
            <div class="learning-modules10">
                <a>
                    <img class="modulelearning-11" src="{% static 'public/modulelearning-11@3x.png' %}" alt="Thumbnail">
                </a>
                <div class="learning-modules-parent">
                    <a class="learning-modules11" href="/quiz/1/">Quizzes</a>
                    <b class="this-is-where"
                    >This is where the tutorials and guides on Python can be
                        accessed. It will teach the user step by step on how to learn
                        different concepts in python. Each concept will be categorized
                        into separate learning modules. Once a learning module is
                        completed, it will acknowledge its completion in the Progress
                        tracker. The priority of this feature is high because this is
                        the main purpose of the program, to provide users with learning
                        material for python.</b
                    >
                </div>
            </div>
            <div class="learning-modules10">
                <a>
                    <img class="modulelearning-12" src="{% static 'public/modulelearning-12@3x.png' %}" alt="Thumbnail">
                </a>
                <div class="learning-modules-parent">
                    <a class="learning-modules11">Challenges</a>
                    <b class="this-is-where"
                    >User chooses a challenge and the program shall present them
                        with a problem scenario that the user must solve by writing
                        Python code related to that concept.</b
                    >
                </div>
            </div>
            <div class="learning-modules10">
                <a>
                    <img class="modulelearning-13" src="{% static 'public/modulelearning-13@3x.png' %}" alt="Thumbnail">
                </a>
                <div class="learning-modules-parent">
                    <a class="learning-modules11" href="{% url 'playground' %}">Python Playground</a>
                    <b class="this-is-where">
                        <p class="if-the-user">
                            If the user selects this option, the program will bring them
                            to an empty project in
                        </p>
                        <p class="if-the-user">
                            Python where users can experiment coding freely while
                            practicing the concepts
                        </p>
                        <p class="if-the-user">they have learned.</p>
                    </b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
