<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>CodeVenture</title>

    <meta property="og:image" content="public/thumbnail.png" />

    <link rel="icon" href="{% static 'public/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MenuPage.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="menu-page">
      <nav class="student-home-nav3" id="student nav">
        <a class="logo7" href="/">
          <img class="logo-icon5" alt="" src="{% static 'public/logo@2x.png' %}" />
        </a>
        <div class="btn8">
          <div class="links4">
            <a class="learning-modules6" href="{% url 'learning_modules' %}">
              <b class="learning-modules7">Learning Modules</b>
            </a>
            <a class="learning-modules6">
              <b class="learning-modules7">Quizzes</b>
            </a>
            <a class="learning-modules6">
              <b class="learning-modules7">Challenges</b>
            </a>
            <a class="learning-modules6" href="{% url 'playground' %}">
              <b class="learning-modules7">Python Playground</b>
            </a>
          </div>
          <button class="menu3">
            <img class="vector-icon11" alt="" src="{% static 'public/vector1.svg' %}" />
          </button>
          <button class="profile-pic4">
            {% if user.socialaccount_set.all %}
                <img class="profile-pic-icon4"
                     alt="Profile Picture"
                     src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                >
            {% else %}
                <img
                  class="profile-pic-icon4"
                  alt=""
                  src="{% static 'public/profilepic@2x.png' %}"
                />
            {% endif %}
          </button>
        </div>
      </nav>
      <div class="link-section">
        <div class="links5">
          <div class="learning-modules8">
            <a href="{% url 'learning_modules' %}">
                <img class="modulelearning-1" src="{% static 'public/modulelearning-1@3x.png' %}" alt="Thumbnail">
            </a>
            <div class="learning-modules-parent">
              <a class="learning-modules9" href="{% url 'learning_modules' %}">Learning modules</a>
              <b class="this-is-where"
                >This is where the tutorials and guides on Python can be
                accessed. It will teach the user step by step on how to learn
                different concepts in python. Each concept will be categorized
                into separate learning modules. Once a learning module is
                completed, it will acknowledge its completion in the Progress
                tracker. The priority of this feature is high because this is
                the main purpose of the program, to provide users with learning
                material for python.</b
              >
            </div>
          </div>
          <div class="learning-modules8">
            <a>
                <img class="modulelearning-11" src="{% static 'public/modulelearning-11@3x.png' %}" alt="Thumbnail">
            </a>
            <div class="learning-modules-parent">
              <a class="learning-modules9">Quizzes</a>
              <b class="this-is-where"
                >This is where the tutorials and guides on Python can be
                accessed. It will teach the user step by step on how to learn
                different concepts in python. Each concept will be categorized
                into separate learning modules. Once a learning module is
                completed, it will acknowledge its completion in the Progress
                tracker. The priority of this feature is high because this is
                the main purpose of the program, to provide users with learning
                material for python.</b
              >
            </div>
          </div>
          <div class="learning-modules8">
            <a>
                <img class="modulelearning-12" src="{% static 'public/modulelearning-12@3x.png' %}" alt="Thumbnail">
            </a>
            <div class="learning-modules-parent">
              <a class="learning-modules9">Challenges</a>
              <b class="this-is-where"
                >User chooses a challenge and the program shall present them
                with a problem scenario that the user must solve by writing
                Python code related to that concept.</b
              >
            </div>
          </div>
          <div class="learning-modules8">
            <a>
                <img class="modulelearning-13" src="{% static 'public/modulelearning-13@3x.png' %}" alt="Thumbnail">
            </a>
            <div class="learning-modules-parent">
              <a class="learning-modules9">Python Playground</a>
              <b class="this-is-where">
                <p class="if-the-user">
                  If the user selects this option, the program will bring them
                  to an empty project in
                </p>
                <p class="if-the-user">
                  Python where users can experiment coding freely while
                  practicing the concepts
                </p>
                <p class="if-the-user">they have learned.</p>
              </b>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback8">
        <form class="contact-form4" method="POST" action="{% url 'home' %}">
          {% csrf_token %}
          <div class="text9">
            <b class="feedback9">Feedback</b>
            <div class="send-us-a4">Send us a message</div>
          </div>
          <div class="text-box4">
              {{ form.fullname.errors }}
            <input
              class="fullname-textbox4"
              name="{{ form.fullname.name }}"
              value="{{ form.fullname.value|default:'' }}"
              placeholder="Fullname"
              type="text"
            />

            {{ form.subject.errors }}
            <input
              class="fullname-textbox4"
              name="{{ form.subject.name }}"
              value="{{ form.subject.value|default:'' }}"
              placeholder="Subject"
              type="text"
            />

            {{ form.message.errors }}
            <input
              class="message-textbook4"
              name="{{ form.message.name }}"
              value="{{ form.message.value|default:'' }}"
              placeholder="Your message"
              type="text"
            />
          </div>
          <button class="submit-btn4">
            <div class="submit4">Submit</div>
          </button>
        </form>
        <div class="site-map8">
          <b class="site-map9">Site Map</b>
          <div class="text10">
            <div class="all-our-pages4">All our pages</div>
          </div>
          <div class="link4">
            <button class="about-us4">- About us</button>
            <button class="about-us4">- Leaderboard</button>
            <button class="about-us4">- Contact us</button>
          </div>
        </div>
        <div class="contact-info4">
          <img
            class="logo-feedback-icon4"
            alt=""
            src="{% static 'public/logo-feedback@2x.png' %}"
          />

          <div class="info4">
            <div class="phone4">
              <img class="vector-icon12" alt="" src="{% static 'public/vector11.svg' %}" />

              <b class="b20">+61 984 588 580</b>
            </div>
            <div class="email4">
              <img class="vector-icon13" alt="" src="{% static 'public/vector2.svg' %}" />

              <b class="b20">hello@codeventure.com</b>
            </div>
          </div>
        </div>
      </div>
      <div class="footer5">
        <footer class="footer6">
          <p class="copyright-2023-all5">
            ©Copyright 2023 All rights reserved CodeVenture
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
