{% extends 'base_generic.html' %}
{% load static %}

{% block nav-bar %}
    <nav class="welcome-nav">
        <a class="logo" href="{% url 'home' %}">
            <img class="logo-icon" alt="" src="{% static 'public/logo@2x.png' %}"/>
        </a>
        <div class="btns">
            <a class="btn" href="{% url 'login' %}">
                <div class="login">Login</div>
            </a>
            <a class="btn" href="{% url 'choose_user_type' %}">
                <div class="login">Sign Up</div>
            </a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="home">
        <div class="hero-section">
            <div class="hero-section1">
                <div class="text">
                    <b class="learn-python-in">Learn Python in a fun way!</b>
                    <div class="codeventure-is-a-container">
                        <span>CodeVenture</span>
                        <span class="is-a-fun">
                            , is a fun and engaging python learning program, which
                  desires to engage young learners to learn Python, a coding
                  language.
                        </span>
                    </div>
                </div>
            </div>
            <img
                    class="illustration-icon"
                    alt=""
                    src="{% static 'public/illustration.svg' %}"
            />
        </div>
        <div class="about-codeventure">
            <img class="image-9-icon" alt="" src="{% static 'public/image-9@2x.png' %}"/>

            <div class="content">
                <b class="about-codeventure1">About CodeVenture</b>
                <div class="we-have-enjoyed">
                    CodeVenture aims to bridge the gap by offering innovative
                    solutions that combine game-like elements, interactive tutorials,
                    quizzes, and weekly progress tracking. It does not only focus on
                    learning the programming concepts but also enables the learners to
                    apply them in practicals scenarios.
                </div>
            </div>
        </div>
    </div>
    <div class="leasderboard">
        <div class="section-title">Leaderboard</div>
        <div class="description">Who is Nextcent suitable for?</div>
        <div class="leader-board">
            <div class="leader-board1">
                <div class="frame">
                    <img class="frame-child" alt="" src="{% static 'public/rectangle-1.svg' %}"/>

                    <div class="frame1">
                        <div class="frame-parent">
                            <div class="ellipse-parent">
                                <img
                                        class="frame-item"
                                        alt=""
                                        src="{% static 'public/ellipse-3@2x.png' %}"
                                />

                                <div class="ellipse-group">
                                    <div class="frame-inner"></div>
                                    <b class="b">2</b>
                                </div>
                            </div>
                            <b class="danish">Danish</b>
                            <b class="b1">4235</b>
                        </div>
                    </div>
                    <div class="frame2">
                        <div class="frame-group">
                            <div class="ellipse-container">
                                <img
                                        class="ellipse-icon"
                                        alt=""
                                        src="{% static 'public/ellipse-2@2x.png' %}"
                                />

                                <div class="ellipse-group">
                                    <div class="ellipse-div"></div>
                                    <b class="b">3</b>
                                </div>
                            </div>
                            <b class="danish">Azmina</b>
                            <b class="b1">3967</b>
                        </div>
                    </div>
                    <div class="frame3">
                        <div class="frame-container">
                            <div class="ellipse-parent1">
                                <img
                                        class="frame-child1"
                                        alt=""
                                        src="{% static 'public/ellipse-1@2x.png' %}"
                                />

                                <div class="ellipse-parent2">
                                    <div class="frame-child2"></div>
                                    <b class="b4">1</b>
                                </div>
                            </div>
                            <b class="danish">Matthew</b>
                            <b class="b5">4578</b>
                        </div>
                    </div>
                </div>
                <div class="parent">
                    <b class="b6">4</b>
                    <div class="vector-parent">
                        <img
                                class="frame-child3"
                                alt=""
                                src="{% static 'public/ellipse-4@2x.png' %}"
                        />

                        <b class="mahissh">Mahissh</b>
                    </div>
                    <div class="group">
                        <b class="mahissh">3768</b>
                        <img class="polygon-icon" alt="" src="{% static 'public/polygon-1.svg' %}"/>
                    </div>
                </div>
                <div class="parent">
                    <b class="b6">5</b>
                    <div class="vector-parent">
                        <img
                                class="frame-child4"
                                alt=""
                                src="{% static 'public/ellipse-41@2x.png' %}"
                        />

                        <b class="mahissh">Lara</b>
                    </div>
                    <div class="group">
                        <b class="mahissh">3768</b>
                        <img
                                class="frame-child5"
                                alt=""
                                src="{% static 'public/polygon-11.svg' %}"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team">
        <b class="learn-python-in">Meet The Team</b>
        <div class="team-members">
            <div class="members">
                <div class="member">
                    <img
                            class="member-child"
                            alt=""
                            src="{% static 'public/rectangle-67@2x.png' %}"
                    />

                    <div class="matthew-parent">
                        <b class="mahissh">Matthew</b>
                        <div class="project-manager">Project Manager</div>
                    </div>
                </div>
                <div class="member">
                    <img
                            class="member-child"
                            alt=""
                            src="{% static 'public/rectangle-671@2x.png' %}"
                    />

                    <div class="matthew-parent">
                        <b class="mahissh">Danish</b>
                        <div class="project-manager">Project Manager</div>
                    </div>
                </div>
            </div>
            <div class="members">
                <div class="member">
                    <img
                            class="member-child"
                            alt=""
                            src="{% static 'public/rectangle-672@2x.png' %}"
                    />

                    <div class="matthew-parent">
                        <b class="mahissh">Mahissh</b>
                        <div class="project-manager">Project Manager</div>
                    </div>
                </div>
                <div class="member">
                    <img
                            class="member-child"
                            alt=""
                            src="{% static 'public/rectangle-673@2x.png' %}"
                    />

                    <div class="matthew-parent">
                        <b class="mahissh">Azmina</b>
                        <div class="project-manager">Project Manager</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}