<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>CodeVenture</title>

    <meta property="og:image" content="{% static 'public/thumbnail.png' %}" />

    <link rel="icon" href="{% static 'public/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/WelcomePage.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="welcomepage">
      <nav class="welcome-nav">
        <a class="logo" href="/">
          <img class="logo-icon" alt="" src="{% static 'public/logo@2x.png' %}" />
        </a>
        <div class="btns">
          <a class="btn" href="{% url 'login' %}">
            <div class="login">Login</div>
          </a>
          <a class="btn" href="{% url 'choose_user_type' %}">
            <div class="login">Sign Up</div>
          </a>
        </div>
      </nav>
      <div class="home">
        <div class="hero-section">
          <div class="hero-section1">
            <div class="text">
              <b class="learn-python-in">Learn Python in a fun way!</b>
              <div class="codeventure-is-a-container">
                <span>CodeVenture</span>
                <span class="is-a-fun"
                  >, is a fun and engaging python learning program, which
                  desires to engage young learners to learn Python, a coding
                  language.</span
                >
              </div>
            </div>
          </div>
          <img
            class="illustration-icon"
            alt=""
            src="{% static 'public/illustration.svg' %}"
          />
        </div>
        <div class="about-codeventure">
          <img class="image-9-icon" alt="" src="{% static 'public/image-9@2x.png' %}" />

          <div class="content">
            <b class="about-codeventure1">About CodeVenture</b>
            <div class="we-have-enjoyed">
              CodeVenture aims to bridge the gap by offering innovative
              solutions that combine game-like elements, interactive tutorials,
              quizzes, and weekly progress tracking. It does not only focus on
              learning the programming concepts but also enables the learners to
              apply them in practicals scenarios.
            </div>
          </div>
        </div>
      </div>
      <div class="leasderboard">
        <div class="section-title">Leaderboard</div>
        <div class="description">Who is Nextcent suitable for?</div>
        <div class="leader-board">
          <div class="leader-board1">
            <div class="frame">
              <img class="frame-child" alt="" src="{% static 'public/rectangle-1.svg' %}" />

              <div class="frame1">
                <div class="frame-parent">
                  <div class="ellipse-parent">
                    <img
                      class="frame-item"
                      alt=""
                      src="{% static 'public/ellipse-3@2x.png' %}"
                    />

                    <div class="ellipse-group">
                      <div class="frame-inner"></div>
                      <b class="b">2</b>
                    </div>
                  </div>
                  <b class="sean">Sean</b>
                  <b class="b1">4235</b>
                </div>
              </div>
              <div class="frame2">
                <div class="frame-group">
                  <div class="ellipse-container">
                    <img
                      class="ellipse-icon"
                      alt=""
                      src="{% static 'public/ellipse-2@2x.png' %}"
                    />

                    <div class="ellipse-group">
                      <div class="ellipse-div"></div>
                      <b class="b">3</b>
                    </div>
                  </div>
                  <b class="sean">Yi Xin</b>
                  <b class="b1">3967</b>
                </div>
              </div>
              <div class="frame3">
                <div class="frame-container">
                  <div class="ellipse-parent1">
                    <img
                      class="frame-child1"
                      alt=""
                      src="{% static 'public/ellipse-1@2x.png' %}"
                    />

                    <div class="ellipse-parent2">
                      <div class="frame-child2"></div>
                      <b class="b4">1</b>
                    </div>
                  </div>
                  <b class="sean">Matthew</b>
                  <b class="b5">4578</b>
                </div>
              </div>
            </div>
            <div class="parent">
              <b class="b6">4</b>
              <div class="vector-parent">
                <img
                  class="frame-child3"
                  alt=""
                  src="{% static 'public/ellipse-4@2x.png' %}"
                />

                <b class="louisa">Louisa</b>
              </div>
              <div class="group">
                <b class="louisa">3768</b>
                <img class="polygon-icon" alt="" src="{% static 'public/polygon-1.svg' %}" />
              </div>
            </div>
            <div class="parent">
              <b class="b6">5</b>
              <div class="vector-parent">
                <img
                  class="frame-child4"
                  alt=""
                  src="{% static 'public/ellipse-41@2x.png' %}"
                />

                <b class="louisa">Lara</b>
              </div>
              <div class="group">
                <b class="louisa">3768</b>
                <img
                  class="frame-child5"
                  alt=""
                  src="{% static 'public/polygon-11.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="team">
        <b class="learn-python-in">Meet The Team</b>
        <div class="team-members">
          <div class="members">
            <div class="member">
              <img
                class="member-child"
                alt=""
                src="{% static 'public/rectangle-67@2x.png' %}"
              />

              <div class="matthew-parent">
                <b class="louisa">Matthew</b>
                <div class="project-manager">Project Manager</div>
              </div>
            </div>
            <div class="member">
              <img
                class="member-child"
                alt=""
                src="{% static 'public/rectangle-671@2x.png' %}"
              />

              <div class="matthew-parent">
                <b class="louisa">Danish</b>
                <div class="project-manager">Project Manager</div>
              </div>
            </div>
          </div>
          <div class="members">
            <div class="member">
              <img
                class="member-child"
                alt=""
                src="{% static 'public/rectangle-672@2x.png' %}"
              />

              <div class="matthew-parent">
                <b class="louisa">Mahissh</b>
                <div class="project-manager">Project Manager</div>
              </div>
            </div>
            <div class="member">
              <img
                class="member-child"
                alt=""
                src="{% static 'public/rectangle-673@2x.png' %}"
              />

              <div class="matthew-parent">
                <b class="louisa">Azmina</b>
                <div class="project-manager">Project Manager</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback">
        <form class="contact-form" method="POST" action="{% url 'home' %}">
          {% csrf_token %}
          <div class="text1">
            <b class="feedback1">Feedback</b>
            <div class="send-us-a">Send us a message</div>
          </div>
          <div class="text-box">
            {{ form.fullname.errors }}
            <input
              class="fullname-textbox"
              name="{{ form.fullname.name }}"
              value="{{ form.fullname.value|default:'' }}"
              placeholder="Fullname"
              type="text"
            />

            {{ form.subject.errors }}
            <input
              class="fullname-textbox"
              name="{{ form.subject.name }}"
              value="{{ form.subject.value|default:'' }}"
              placeholder="Subject"
              type="text"
            />

            {{ form.message.errors }}
            <input
              class="message-textbook"
              name="{{ form.message.name }}"
              value="{{ form.message.value|default:'' }}"
              placeholder="Your message"
              type="text"
            />
          </div>
          <button type="submit" class="submit-btn">
            <div class="submit">Submit</div>
          </button>
        </form>
        <div class="site-map">
          <b class="site-map1">Site Map</b>
          <div class="text2">
            <div class="all-our-pages">All our pages</div>
          </div>
          <div class="link">
            <button class="about-us">- About us</button>
            <button class="about-us">- Leaderboard</button>
            <button class="about-us">- Contact us</button>
          </div>
        </div>
        <div class="contact-info">
          <img
            class="logo-feedback-icon"
            alt=""
            src="{% static 'public/logo-feedback1@2x.png' %}"
          />

          <div class="info">
            <div class="phone">
              <img class="vector-icon" alt="" src="{% static 'public/vector.svg' %}" />

              <b class="louisa">+61 984 588 580</b>
            </div>
            <div class="email">
              <img class="vector-icon1" alt="" src="{% static 'public/vector82.svg' %}" />

              <b class="louisa">hello@codeventure.com</b>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <p class="copyright-2023-all">
          ©Copyright 2023 All rights reserved CodeVenture
        </p>
      </footer>
    </div>
  </body>
</html>
