{% extends 'base_generic.html' %}
{% load static %}

{% block title %}
    Basic Modules
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/BasicModulesPage.css' %}"/>
{% endblock %}

{% block css-container %}
    learning-modules-page
{% endblock %}

{% block content %}
    <div class="links4">
        <div class="basic-modules-parent">
            <b class="basic-modules">Basic modules</b>
            <div class="modules">
                <div class="module">
                    <a class="creat-file-2-parent">
                        <img
                                class="creat-file-2"
                                alt=""
                                src="{% static 'public/creat-file-2@2x.png' %}"
                        />

                        <b class="basic-modules">Creating new files</b>
                    </a>
                    <div class="round10">
                        <div class="round-child8"></div>
                        <img class="bicheck-icon10" alt="" src="{% static 'public/bicheck.svg' %}"/>
                    </div>
                </div>
                <div class="module">
                    <a class="creat-file-2-parent">
                        <img
                                class="creat-file-2"
                                alt=""
                                src="{% static 'public/creat-file-21@2x.png' %}"
                        />

                        <b class="basic-modules">Variables and Printing</b>
                    </a>
                    <div class="round10">
                        <div class="round-child8"></div>
                        <img class="bicheck-icon10" alt="" src="{% static 'public/bicheck.svg' %}"/>
                    </div>
                </div>
                <div class="module">
                    <a class="creat-file-2-parent">
                        <img
                                class="creat-file-2"
                                alt=""
                                src="{% static 'public/creat-file-22@2x.png' %}"
                        />

                        <b class="basic-modules">Arithmetic</b>
                    </a>
                    <div class="round10">
                        <div class="round-child8"></div>
                        <img
                                class="bicheck-icon10"
                                alt=""
                                src="{% static 'public/bicheck1.svg' %}"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="access-to-concept">
            <b class="basic-modules">Access to concept modules :</b>
            <a class="concept-modules-button" href="{% url 'concept_modules' %}">
                <b class="concept-modules1">Concept modules</b>
            </a>
        </div>
    </div>
{% endblock %}