{% extends 'base_generic.html' %}

{% block content %}
    <style>
        /* Custom Styles for the Lecture Page */
        .course-title {
            background-color: #f2f2f2;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .video-section {
            background-color: #ffffff;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .lecture-description {
            background-color: #f2f2f2;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .dynamic-video {
            width: 64vw;  /* 80% of the viewport width */
            height: 36vw;  /* 45% of the viewport width, maintaining a 16:9 ratio */
        }
    </style>

    <div class="container mt-5">
        <!-- Course Title -->
        <div class="course-title">
            <h1>{{ submodule.parent_module.short_name }} - {{ submodule.name }}</h1>
        </div>

        <!-- YouTube Video Placeholder -->
        <div class="video-section">
            <iframe class="dynamic-video" src="https://www.youtube.com/embed/{{ submodule.video.video_id }}" allowfullscreen></iframe>
        </div>

        <!-- Lecture Description -->
        <div class="lecture-description">
            <h2>Description</h2>
            <p>
                {{ submodule.description }}
            </p>
        </div>
    </div>
{% endblock %}