<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Submodule</title>

    <meta property="og:image" content="{% static 'public/thumbnail.png' %}" />

    <link rel="icon" href="{% static 'public/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Submodules.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap"
    />
    <style>
        .dynamic-video {
            width: 80vw;
            height: 45vw;
        }
    </style>
  </head>
  <body>
    <div class="submodules">
      <nav class="student-home-nav1" id="student nav">
        <a class="logo2" href="/">
          <img class="logo-icon2" alt="" src="{% static 'public/logo@2x.png' %}" />
        </a>
        <div class="btn3">
          <div class="links1">
            <a class="learning-modules2" href="{% url 'learning_modules' %}">
              <b class="learning-modules3">Learning Modules</b>
            </a>
            <a class="learning-modules2">
              <b class="learning-modules3">Quizzes</b>
            </a>
            <a class="learning-modules2">
              <b class="learning-modules3">Challenges</b>
            </a>
            <a class="learning-modules2" href="{% url 'playground' %}">
              <b class="learning-modules3">Python Playground</b>
            </a>
          </div>
          <button class="menu1">
            <img class="vector-icon5" alt="" src="{% static 'public/vector1.svg' %}" />
          </button>
          <button class="profile-pic1">
            {% if user.socialaccount_set.all %}
                <img class="profile-pic-icon1"
                     alt="Profile Picture"
                     src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                >
            {% else %}
                <img
                  class="profile-pic-icon1"
                  alt=""
                  src="{% static 'public/profilepic@2x.png' %}"
                />
            {% endif %}
          </button>
        </div>
      </nav>
      <div class="frame-parent8">
        <div class="component-group">
          {% if submodule.prev_submodule %}
            <a href="{% url 'lecture_view' submodule.prev_submodule.id %}" class="previous-wrapper">
                <b class="previous">Previous</b>
            </a>
          {% endif %}
          <b class="artificial-intelligence-">
              {{ submodule.parent_module.short_name }} - {{ submodule.name }}
          </b>
          {% if submodule.next_submodule %}
            <a href="{% url 'lecture_view' submodule.next_submodule.id %}?complete_current={{ submodule.id }}" class="previous-wrapper">
                <b class="previous">Next</b>
            </a>
          {% endif %}
        </div>
        <iframe
          class="dynamic-video"
          src="https://www.youtube.com/embed/{{ submodule.video.video_id }}"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
        {% if submodule.description %}
            <div class="description-wrapper">
                <b class="description1">Description:</b>
                <div class="description-text">{{ submodule.description }}</div>
            </div>
        {% endif %}
      </div>
      <div class="feedback4">
        <form class="contact-form2" method="POST">
          <div class="text5">
            <b class="feedback5">Feedback</b>
            <div class="send-us-a2">Send us a message</div>
          </div>
          <div class="text-box2">
              {{ form.fullname.errors }}
            <input
              class="fullname-textbox2"
              name="{{ form.fullname.name }}"
              value="{{ form.fullname.value|default:'' }}"
              placeholder="Fullname"
              type="text"
            />

            {{ form.subject.errors }}
            <input
              class="fullname-textbox2"
              name="{{ form.subject.name }}"
              value="{{ form.subject.value|default:'' }}"
              placeholder="Subject"
              type="text"
            />

            {{ form.message.errors }}
            <input
              class="message-textbook2"
              name="{{ form.message.name }}"
              value="{{ form.message.value|default:'' }}"
              placeholder="Your message"
              type="text"
            />
          </div>
          <button type="submit" class="submit-btn2">
            <div class="submit2">Submit</div>
          </button>
        </form>
        <div class="site-map4">
          <b class="site-map5">Site Map</b>
          <div class="text6">
            <div class="all-our-pages2">All our pages</div>
          </div>
          <div class="link2">
            <button class="about-us2">- About us</button>
            <button class="about-us2">- Leaderboard</button>
            <button class="about-us2">- Contact us</button>
          </div>
        </div>
        <div class="contact-info2">
          <img
            class="logo-feedback-icon2"
            alt=""
            src="{% static 'public/logo-feedback@2x.png' %}"
          />

          <div class="info2">
            <div class="phone2">
              <img class="vector-icon6" alt="" src="{% static 'public/vector11.svg' %}" />

              <b class="previous">+61 984 588 580</b>
            </div>
            <div class="email2">
              <img class="vector-icon7" alt="" src="{% static 'public/vector2.svg' %}" />

              <b class="previous">hello@codeventure.com</b>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer2">
        <p class="copyright-2023-all2">
          ©Copyright 2023 All rights reserved CodeVenture
        </p>
      </footer>
    </div>
  </body>
</html>
