{% extends 'base_generic.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Concept modules
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ConceptModulesPage.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-modules-page
{% endblock %}

{% block content %}
    <h2>{{ module.name }}</h2>
    <ul>
        <h3>Attempt quiz?</h3>
        {% for sub_module in sub_modules %}
            {% if sub_module.quiz %}
                <li>
                    <a href="{% url 'quiz_summary' sub_module.quiz.id %}">Quiz {{ forloop.counter }} ({{ sub_module.quiz.name }})</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}