{% extends 'base_generic.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Concept modules
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ConceptModulesPage.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-modules-page
{% endblock %}

{% block content %}
    <h2>{{ module.name }}</h2>
    <ul>
        {% for sub_module in sub_modules %}
            <li>
                <span>{{ forloop.counter }}. </span>
                <a{% if sub_module.quiz %}
                    href="{% url 'quiz_view' sub_module.quiz.id %}"{% endif %}>{{ sub_module.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}