{% extends 'base_generic.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Parent Concept Modules
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ConceptModulesPage.css' %}"/>
{% endblock %}

{% block css-container %}
    concept-modules-page
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if request.user.parent %}
        <h1>Concept modules for your children</h1>
        <div class="concept-modules-parent">
            {% for child_data in children_data %}
                <h2>{{ child_data.student.full_name }}</h2>
                <b class="concept-modules">Concept modules</b>
                <div class="frame-parent2">
                    {% for group in child_data.grouped_module_progresses %}
                        <div class="component-group">
                            {% for module_progress in group %}
                                {% if module_progress %}
                                    <div class="frame-parent3">
                                        <a class="image-10-parent" href="{% url 'concept_module' module_progress.module.id %}">
                                            <img class="image-10-icon" alt="Thumbnail" src="{{ module_progress.module.thumbnail }}"/>
                                            <b class="unit-functions">{{ module_progress.module.short_name }}</b>
                                        </a>
                                        <div class="progress-bar"
                                             {% if module_progress.progress == 0 %}style="background-color: #00000000"{% endif %}
                                        >
                                            {% if module_progress.progress > 0 %}
                                                <div class="bar" style="width: {{ module_progress.progress|multiply:100 }}%;">
                                                    <b class="concept-modules">{{ module_progress.progress|multiply:100 }}%</b>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor%}
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
