.welcome-page-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.welcome-page-main .div {
  background-color: #ffffff;
  overflow-x: hidden;
  width: 1980px;
  height: 4252px;
  position: relative;
}

.welcome-page-main .overlap {
  position: absolute;
  width: 1984px;
  height: 2542px;
  top: 0;
  left: -2px;
}

.welcome-page-main .rectangle {
  position: absolute;
  width: 1980px;
  height: 1085px;
  top: 0;
  left: 2px;
  background-color: #3d405b;
}

.welcome-page-main .logo {
  position: absolute;
  width: 294px;
  height: 148px;
  top: 36px;
  left: 48px;
}

.welcome-page-main .rectangle-2 {
  position: absolute;
  width: 1982px;
  height: 799px;
  top: 1743px;
  left: 0;
  background-color: #f4f1de;
}

.welcome-page-main .rectangle-3 {
  position: absolute;
  width: 1982px;
  height: 675px;
  top: 1080px;
  left: 2px;
  background-color: #f4f1de;
}

.welcome-page-main .text-wrapper {
  position: absolute;
  width: 218px;
  top: 66px;
  left: 1764px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f4f1de;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-2 {
  position: absolute;
  width: 182px;
  top: 62px;
  left: 1613px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f4f1de;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .chevron-left-solid {
  top: 506px;
  left: 159px;
  position: absolute;
  width: 89px;
  height: 108px;
}

.welcome-page-main .img {
  top: 513px;
  left: 1750px;
  position: absolute;
  width: 89px;
  height: 108px;
}

.welcome-page-main .ellipse {
  left: 860px;
  position: absolute;
  width: 40px;
  height: 39px;
  top: 959px;
  background-color: #7f6e6e;
  border-radius: 20px/19.5px;
}

.welcome-page-main .ellipse-2 {
  left: 1070px;
  position: absolute;
  width: 40px;
  height: 39px;
  top: 959px;
  background-color: #7f6e6e;
  border-radius: 20px/19.5px;
}

.welcome-page-main .ellipse-3 {
  left: 965px;
  position: absolute;
  width: 40px;
  height: 39px;
  top: 959px;
  background-color: #7f6e6e;
  border-radius: 20px/19.5px;
}

.welcome-page-main .p {
  position: absolute;
  width: 839px;
  top: 358px;
  left: 374px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #e07a5f;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .codeventure-is-a-fun {
  position: absolute;
  width: 1236px;
  top: 499px;
  left: 367px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .span {
  color: #4da0dc;
}

.welcome-page-main .text-wrapper-3 {
  color: #fffbfb;
  font-size: 32px;
}

.welcome-page-main .text-wrapper-4 {
  position: absolute;
  width: 570px;
  top: 1164px;
  left: 1003px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #e07a5f;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .description {
  position: absolute;
  width: 851px;
  top: 1282px;
  left: 1003px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-5 {
  font-weight: 700;
}

.welcome-page-main .text-wrapper-6 {
  font-size: 30px;
}

.welcome-page-main .rectangle-4 {
  position: absolute;
  width: 250px;
  height: 76px;
  top: 1564px;
  left: 1003px;
  background-color: #e2e2e2;
}

.welcome-page-main .text-wrapper-7 {
  position: absolute;
  width: 326px;
  top: 1586px;
  left: 965px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-8 {
  position: absolute;
  width: 496px;
  top: 1849px;
  left: 727px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #e07a5f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .rectangle-5 {
  position: absolute;
  width: 1034px;
  height: 489px;
  top: 1948px;
  left: 474px;
  background-color: #d9d9d9;
}

.welcome-page-main .line {
  width: 1px;
  height: 474px;
  top: 1946px;
  left: 578px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-2 {
  width: 1px;
  height: 474px;
  top: 1946px;
  left: 1193px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-3 {
  width: 1035px;
  height: 7px;
  top: 2052px;
  left: 473px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-4 {
  width: 1035px;
  height: 3px;
  top: 2138px;
  left: 473px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-5 {
  width: 1035px;
  height: 3px;
  top: 2220px;
  left: 473px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-6 {
  width: 1035px;
  height: 3px;
  top: 2302px;
  left: 480px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .line-7 {
  width: 1035px;
  height: 3px;
  top: 2384px;
  left: 462px;
  position: absolute;
  object-fit: cover;
}

.welcome-page-main .rectangle-6 {
  position: absolute;
  width: 902px;
  height: 658px;
  top: 1083px;
  left: 2px;
}

.welcome-page-main .rectangle-7 {
  position: absolute;
  width: 405px;
  height: 424px;
  top: 1216px;
  left: 430px;
  background-color: #3d405b;
  border-radius: 202.5px;
}

.welcome-page-main .logo-2 {
  position: absolute;
  width: 294px;
  height: 148px;
  top: 1324px;
  left: 486px;
}

.welcome-page-main .overlap-group {
  position: absolute;
  width: 1980px;
  height: 64px;
  top: 4188px;
  left: 0;
  background-color: #f4f1de;
}

.welcome-page-main .text-wrapper-9 {
  position: absolute;
  width: 677px;
  top: 19px;
  left: 651px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .overlap-2 {
  position: absolute;
  width: 2003px;
  height: 1646px;
  top: 2542px;
  left: -8px;
}

.welcome-page-main .rectangle-8 {
  position: absolute;
  width: 1995px;
  height: 850px;
  top: 796px;
  left: 8px;
  background-color: #e2e2e2;
}

.welcome-page-main .rectangle-9 {
  position: absolute;
  width: 373px;
  height: 60px;
  top: 1166px;
  left: 376px;
  background-color: #d9d9d9;
}

.welcome-page-main .rectangle-10 {
  position: absolute;
  width: 475px;
  height: 201px;
  top: 1248px;
  left: 376px;
  background-color: #d9d9d9;
}

.welcome-page-main .text-wrapper-10 {
  position: absolute;
  width: 373px;
  top: 937px;
  left: 953px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .rectangle-11 {
  position: absolute;
  width: 1995px;
  height: 799px;
  top: 0;
  left: 0;
  background-color: #f4f1de;
}

.welcome-page-main .rectangle-12 {
  position: absolute;
  width: 363px;
  height: 270px;
  top: 277px;
  left: 1244px;
  background-color: #3d405b;
}

.welcome-page-main .rectangle-13 {
  position: absolute;
  width: 363px;
  height: 270px;
  top: 277px;
  left: 821px;
  background-color: #3d405b;
}

.welcome-page-main .text-wrapper-11 {
  position: absolute;
  width: 496px;
  top: 92px;
  left: 723px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .rectangle-14 {
  position: absolute;
  width: 363px;
  height: 270px;
  top: 277px;
  left: 398px;
  background-color: #3d405b;
}

.welcome-page-main .text-wrapper-12 {
  position: absolute;
  width: 277px;
  top: 937px;
  left: 376px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-13 {
  position: absolute;
  width: 475px;
  top: 1029px;
  left: 376px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-14 {
  position: absolute;
  width: 252px;
  top: 1027px;
  left: 953px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .phone-solid {
  position: absolute;
  width: 44px;
  height: 37px;
  top: 1111px;
  left: 1335px;
}

.welcome-page-main .envelope-regular {
  position: absolute;
  width: 41px;
  height: 56px;
  top: 1175px;
  left: 1330px;
}

.welcome-page-main .rectangle-15 {
  position: absolute;
  width: 373px;
  height: 54px;
  top: 1090px;
  left: 376px;
  background-color: #d9d9d9;
}

.welcome-page-main .text-wrapper-15 {
  position: absolute;
  width: 223px;
  top: 1095px;
  left: 390px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .text-wrapper-16 {
  position: absolute;
  width: 223px;
  top: 1170px;
  left: 390px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .rectangle-16 {
  position: absolute;
  width: 373px;
  height: 60px;
  top: 1486px;
  left: 376px;
  background-color: #8b7777;
}

.welcome-page-main .text-wrapper-17 {
  position: absolute;
  width: 223px;
  top: 1495px;
  left: 390px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f8eeee;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .text-wrapper-18 {
  position: absolute;
  width: 263px;
  top: 1330px;
  left: 390px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.welcome-page-main .about-us-leaderboard {
  position: absolute;
  width: 343px;
  top: 1092px;
  left: 953px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .text-wrapper-19 {
  position: absolute;
  width: 474px;
  top: 168px;
  left: 766px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.welcome-page-main .logo-3 {
  position: absolute;
  width: 197px;
  height: 99px;
  top: 919px;
  left: 1325px;
}
